<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">

  <form>
    <label for="inputA">Enter value for a (1-100):</label>
    <input type="number" id="inputA" ng-model="a" min="1" max="100" required>

    <label for="inputB">Enter value for b:</label>
    <input type="number" id="inputB" ng-model="b" required>

    <button type="submit" ng-click="calculate()">Calculate</button>
  </form>

  <div ng-if="result !== null">
    <p ng-if="result <= 100">Result: {{ result }}</p>
    <p ng-if="result > 100">Result exceeds 100.</p>
  </div>

  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
      $scope.result = null;

      $scope.calculate = function() {
        $scope.result = ($scope.a + $scope.b) / $scope.c * 100;
      };
    });
  </script>

</body>
</html>
